<h1>Jira Planner</h1>
<div *ngIf="authenticated">
  <mat-tab-group>
    <mat-tab label="Planning">
      <ng-template matTabContent>
        <app-planner></app-planner>
      </ng-template>
    </mat-tab>
    <!-- Temporarily remove until migration to dev/support model is complete -->
    <!--
    <mat-tab label="Rollup">
      <ng-template matTabContent>
        <app-rollup></app-rollup>
      </ng-template>
    </mat-tab>  
    -->  
    <mat-tab label="Capacity">
      <ng-template matTabContent>
        <app-capacity></app-capacity>
      </ng-template>
    </mat-tab>
    <mat-tab label="Preferences">
      <ng-template matTabContent>
        <app-preferences></app-preferences>
      </ng-template>
    </mat-tab>    
  </mat-tab-group>
  <div class="footer" *ngIf="user">Logged in to <a href="{{jiraHome}}" target="_blank">{{jiraHome}}</a> as {{user.name}} (<a href="#" (click)="logout()">Logout</a>)</div>
</div>