<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner 
    mode="indeterminate"
    diameter="50"
    >
  </mat-progress-spinner>
</div>
<form #form="ngForm" id="form">
<table *ngIf="versions">
  <tr>
    <th>Team</th>
    <th *ngFor="let version of versions">{{version.name}}</th>
    <th></th>
  </tr>
  <tr *ngFor="let team of teams">
    <th>{{team}}</th>
    <td *ngFor="let version of versions">
      <!-- Split up and down binding due to Elvis operator (safe) -->
      <input type="text" [ngModel]="capacity[team][version.id]?.dev" (ngModelChange)="capacity[team][version.id]?.dev ? capacity[team][version.id].dev = $event : null" [name]="team+version.id+'dev'" placeholder="Dev"> / 
      <input type="text" [ngModel]="capacity[team][version.id]?.support" (ngModelChange)="capacity[team][version.id]?.support ? capacity[team][version.id].support = $event : null" [name]="team+version.id+'support'" placeholder="Support">
    </td>
    <td>
      <span>
        <mat-icon (click)="delete(team)">delete</mat-icon>
        <mat-icon (click)="edit(team)">edit</mat-icon>
      </span>
    </td>
  </tr>
</table>
</form>
<button mat-stroked-button (click)="add()">Add team</button>
<button mat-stroked-button color="primary" (click)="save()">Save</button>
