:host {
  margin: 20px;
  display: block;
}

table {
  max-width: calc(100% - 10px);
  margin-bottom: 20px;
  border-spacing: 0px;
}

th, td {
  border-right: 2px black solid;
  padding: 2px 10px 2px 2px;
}

td {
  text-align: center;
  white-space: nowrap;
}

input {
  width: 30px;
}

button {
  margin-right: 5px;
}

td span {
  white-space: nowrap;
}

td span mat-icon {
  cursor: pointer;
}