<div class="loading-shade" *ngIf="loading">
  <mat-progress-spinner 
    mode="indeterminate"
    diameter="50"
    >
  </mat-progress-spinner>
</div>
<div class="command-container">
  <app-select-team></app-select-team>
  <button mat-stroked-button color="primary" [disabled]="!ready" (click)="update()">Update Issues</button>
</div>
<div cdkDropListGroup *ngIf="issues">
  <mat-expansion-panel [expanded]="true" class="planner-container" *ngFor="let version of versions">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{version.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div
      cdkDropList
      [cdkDropListData]="issues[version.id]"
      class="planner-list grid"
      cdkDropListSortingDisabled
      [attr.data-versionid]="version.id"
      (cdkDropListDropped)="drop($event)">
      <div class="planner-box" [ngClass]="{'bucket-support': issueBucket(issue)==BucketName.support}" *ngFor="let issue of issues[version.id]; index as i" (contextmenu)="onContextMenu($event, i, version.id)" cdkDrag>
        <span><img src="{{issue.fields.issuetype.iconUrl}}"><a target="_blank" href="{{jiraHost}}/browse/{{issue.key}}">{{issue.fields.summary}}</a></span><span class="tag">{{issue.fields[estimateField]}}</span>
      </div>
    </div>
    <div class="planner-summary">
      <div>
        <span><strong>DEV CAPACITY / SCHEDULED</strong></span>
        <span class="tag" [style.background-color]="status(version.id)">{{ teamCapacity(version.id) }} / {{ sum(version.id) }}</span>
      </div>
      <div>
        <span><strong>SUPPORT CAPACITY / SCHEDULED- SUPPORT</strong></span>
        <span class="tag" [style.background-color]="status(version.id, BucketName.support)">{{ teamCapacity(version.id, BucketName.support) }} / {{ sum(version.id, BucketName.support) }}</span>
      </div>
    </div>
  </mat-expansion-panel>    
</div>
<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="moveSprint">Move Sprint</button>
</mat-menu>
<mat-menu #moveSprint="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item *ngFor="let version of versions"  (click)="onMoveVersion(version.id)">{{version.name}}</button>
  </ng-template>
</mat-menu>